@import "tailwindcss";
@plugin "daisyui" {
	themes:
		garden --default,
		night --prefersdark,
		cupcake;
}

:root {
	scrollbar-gutter: stable;
	interpolate-size: allow-keywords;
}

/* .qty-marker {
	list-style: circle;
	&::marker {
		content: attr(data-qty);
	}
} */
